<div class="row" ng-controller="LoginCtrl">

<div class="col-md-6 col-md-offset-3">
    <md-content class="card">

        <md-content class="md-padding custom__md-content__login">


            <div class="card-signup">


                    <div class="content">
                        <div class="input-group">






                            <div class="form-group is-empty"><h3 id="titlesighnup" style="margin-left: 200px">{{ 'ENTER' | translate }}</h3></div>
                        </div>


                        <div class="input-group">
                                             <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                             </span>
                            <div class="form-group is-empty"><input type="text" class="form-control" placeholder="Имя..." ng-model="name"><span class="material-input"></span></div>
                        </div>

                        <div class="input-group">
                                             <span class="input-group-addon">
                                                 <i class="material-icons">lock_outline</i>
                                             </span>
                            <div class="form-group is-empty"><input type="password" placeholder="{{ 'PASSWORD' | translate }}" class="form-control" ng-model="pass"><span class="material-input"></span></div>
                        </div>














                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary" ng-click="loginClk()">{{ 'ENTER' | translate }}</button>
                    </div>








            </div>

        </md-content>





    </md-content>
</div>





</div>