<div class="row" ng-controller="gosProgrammType1Ctrl" ng-cloak>
    <div class="col-md-12">
        <md-content id="mainpage" layout="column" flex class="custom__md-content__categ">


            <md-card>
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                    <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 1024 768" style="enable-background:new 0 0 1024 768;" xml:space="preserve">
    <style type="text/css">
    	.st0{fill:url(#SVGID_1_);}
        .st1{fill:url(#SVGID_2_);}
        .st2{fill:url(#SVGID_3_);}
        .st3{fill:none;stroke:#000000;stroke-miterlimit:10;}
        .st4{fill:none;}
        .st5{fill:url(#SVGID_4_);}
        .st6{font-family:'MyriadPro-Regular';}
        .st7{font-size:31.0474px;}
        .st8{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
        .st9{font-family:'Monaco';}
        .st10{font-size:36px;}
        .st11{fill:#8DD9FF;}
        .st12{fill:#FFFFFF;}
        .st13{fill:#B2B9C9;}
        .st14{fill:#9FC3DD;}
        .st15{fill:#B39191;}
        .st16{fill:#7FAAB8;}
        .st17{fill:#EEE1C2;}
        .st18{fill:#43AB5F;}
        .st19{fill:#71BE63;}
        .st20{fill:#94D75B;}
        .st21{fill:#B0EB81;}
        .st22{fill:#674447;}
        .st23{fill:#8C665B;}
        .st24{fill:#FDEFDB;}
        .st25{fill:#A29B91;}
        .st26{fill:#88B7C6;}
        .st27{fill:#E9B668;}
        .st28{fill:#9E8282;}
        .st29{fill:#71E2EF;}
        .st30{fill:#38C6D9;}
        .st31{fill:#273B7A;}
        .st32{fill:#121149;}
        .st33{fill:#C8EBED;}
        .st34{fill:#FFC61B;}
        .st35{fill:#EAA22F;}
        .st36{fill:#FF5419;}
        .st37{fill:#C92F00;}
        .st38{fill:#FEE187;}
        .st39{fill:#930000;}
    </style>
    <g>

    		<radialGradient id="SVGID_1_" cx="319.6" cy="1725.8" r="82.3" gradientTransform="matrix(1 0 0 1 0 -1632)" gradientUnits="userSpaceOnUse">
    		<stop  offset="0.7388" style="stop-color:#FFFFFF;stop-opacity:0"/>
    		<stop  offset="0.8057" style="stop-color:#FFFFFF;stop-opacity:0.4301"/>
    		<stop  offset="0.8165" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
    		<stop  offset="0.8231" style="stop-color:#DBC01F"/>
    		<stop  offset="0.8304" style="stop-color:#F1DC3A"/>
    		<stop  offset="0.835" style="stop-color:#F5E13F"/>
    		<stop  offset="0.8386" style="stop-color:#DBC01F"/>
    		<stop  offset="0.8523" style="stop-color:#E1CB46"/>
    		<stop  offset="0.872" style="stop-color:#E9D976"/>
    		<stop  offset="0.8922" style="stop-color:#F0E4A0"/>
    		<stop  offset="0.9126" style="stop-color:#F5EEC3"/>
    		<stop  offset="0.9332" style="stop-color:#FAF5DD"/>
    		<stop  offset="0.9543" style="stop-color:#FDFBF0"/>
    		<stop  offset="0.976" style="stop-color:#FEFEFB"/>
    		<stop  offset="0.9993" style="stop-color:#FFFFFF"/>
    	</radialGradient>
    	<circle class="st0" cx="319.6" cy="93.8" r="82.3"/>
    	<path d="M319.6,12c45.1,0,81.8,36.7,81.8,81.8s-36.7,81.8-81.8,81.8s-81.8-36.7-81.8-81.8S274.5,12,319.6,12 M319.6,11
    		c-45.7,0-82.8,37.1-82.8,82.8s37.1,82.8,82.8,82.8s82.8-37.1,82.8-82.8S365.3,11,319.6,11L319.6,11z"/>
    </g>
    <g>

    		<radialGradient id="SVGID_2_" cx="704.2" cy="1940.5" r="82.3" gradientTransform="matrix(1 0 0 1 0 -1632)" gradientUnits="userSpaceOnUse">
    		<stop  offset="0.7388" style="stop-color:#FFFFFF;stop-opacity:0"/>
    		<stop  offset="0.8057" style="stop-color:#FFFFFF;stop-opacity:0.4301"/>
    		<stop  offset="0.8165" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
    		<stop  offset="0.8231" style="stop-color:#6EFF15"/>
    		<stop  offset="0.8304" style="stop-color:#F1DC3A"/>
    		<stop  offset="0.835" style="stop-color:#9EFF6A"/>
    		<stop  offset="0.8386" style="stop-color:#69FF2A"/>
    		<stop  offset="0.8488" style="stop-color:#7DFF46"/>
    		<stop  offset="0.8689" style="stop-color:#9FFF76"/>
    		<stop  offset="0.8896" style="stop-color:#BCFFA0"/>
    		<stop  offset="0.9105" style="stop-color:#D4FFC3"/>
    		<stop  offset="0.9317" style="stop-color:#E7FFDD"/>
    		<stop  offset="0.9532" style="stop-color:#F4FFF0"/>
    		<stop  offset="0.9754" style="stop-color:#FCFFFB"/>
    		<stop  offset="0.9993" style="stop-color:#FFFFFF"/>
    	</radialGradient>
    	<circle class="st1" cx="704.2" cy="308.5" r="82.3"/>
    	<path d="M704.2,226.7c45.1,0,81.8,36.7,81.8,81.8s-36.7,81.8-81.8,81.8s-81.8-36.7-81.8-81.8S659.1,226.7,704.2,226.7 M704.2,225.7
    		c-45.7,0-82.8,37.1-82.8,82.8s37.1,82.8,82.8,82.8s82.8-37.1,82.8-82.8S749.9,225.7,704.2,225.7L704.2,225.7z"/>
    </g>
    <g id="XMLID_1_">

    		<radialGradient id="SVGID_3_" cx="319.6" cy="2122.5" r="82.3" gradientTransform="matrix(1 0 0 1 0 -1632)" gradientUnits="userSpaceOnUse">
    		<stop  offset="0.7388" style="stop-color:#FFFFFF;stop-opacity:0"/>
    		<stop  offset="0.8057" style="stop-color:#FFFFFF;stop-opacity:0.4301"/>
    		<stop  offset="0.8165" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
    		<stop  offset="0.8231" style="stop-color:#3FBCFF"/>
    		<stop  offset="0.8304" style="stop-color:#005EFF"/>
    		<stop  offset="0.835" style="stop-color:#F5E13F"/>
    		<stop  offset="0.8386" style="stop-color:#006AE9"/>
    		<stop  offset="0.8423" style="stop-color:#0C71EA"/>
    		<stop  offset="0.8606" style="stop-color:#4592EF"/>
    		<stop  offset="0.8795" style="stop-color:#76AFF3"/>
    		<stop  offset="0.8985" style="stop-color:#A0C8F7"/>
    		<stop  offset="0.9177" style="stop-color:#C3DCFA"/>
    		<stop  offset="0.9371" style="stop-color:#DDEBFC"/>
    		<stop  offset="0.957" style="stop-color:#F0F6FE"/>
    		<stop  offset="0.9774" style="stop-color:#FBFDFF"/>
    		<stop  offset="0.9993" style="stop-color:#FFFFFF"/>
    	</radialGradient>
    	<circle class="st2" cx="319.6" cy="490.5" r="82.3"/>
    	<path d="M319.6,408.7c45.1,0,81.8,36.7,81.8,81.8s-36.7,81.8-81.8,81.8s-81.8-36.7-81.8-81.8C237.8,445.4,274.5,408.7,319.6,408.7
    		 M319.6,407.7c-45.7,0-82.8,37.1-82.8,82.8s37.1,82.8,82.8,82.8s82.8-37.1,82.8-82.8S365.3,407.7,319.6,407.7L319.6,407.7z"/>
    </g>
    <g>
    	<line class="st3" x1="391.6" y1="133.9" x2="632.2" y2="268.4"/>
    	<line class="st4" x1="391.6" y1="133.9" x2="632.2" y2="268.4"/>
    </g>
    <line class="st3" x1="628.7" y1="343.5" x2="394.2" y2="454.7"/>
    <g>

    		<radialGradient id="SVGID_4_" cx="704.2" cy="2306.2" r="82.3" gradientTransform="matrix(1 0 0 1 0 -1632)" gradientUnits="userSpaceOnUse">
    		<stop  offset="0.7388" style="stop-color:#FFFFFF;stop-opacity:0"/>
    		<stop  offset="0.8057" style="stop-color:#FFFFFF;stop-opacity:0.4301"/>
    		<stop  offset="0.8165" style="stop-color:#FFFFFF;stop-opacity:0.5"/>
    		<stop  offset="0.8231" style="stop-color:#DBC01F"/>
    		<stop  offset="0.8304" style="stop-color:#FF94D5"/>
    		<stop  offset="0.835" style="stop-color:#F5E13F"/>
    		<stop  offset="0.8386" style="stop-color:#FF7FB4"/>
    		<stop  offset="0.8602" style="stop-color:#FFA1C8"/>
    		<stop  offset="0.8865" style="stop-color:#FFC3DC"/>
    		<stop  offset="0.9134" style="stop-color:#FFDDEB"/>
    		<stop  offset="0.9408" style="stop-color:#FFF0F6"/>
    		<stop  offset="0.969" style="stop-color:#FFFBFD"/>
    		<stop  offset="0.9993" style="stop-color:#FFFFFF"/>
    	</radialGradient>
    	<circle class="st5" cx="704.2" cy="674.2" r="82.3"/>
    	<path d="M704.2,592.4c45.1,0,81.8,36.7,81.8,81.8S749.3,756,704.2,756s-81.8-36.7-81.8-81.8C622.4,629.1,659.1,592.4,704.2,592.4
    		 M704.2,591.4c-45.7,0-82.8,37.1-82.8,82.8s37.1,82.8,82.8,82.8s82.8-37.1,82.8-82.8S749.9,591.4,704.2,591.4L704.2,591.4z"/>
    </g>
    <g>
    	<line class="st3" x1="394.2" y1="526.3" x2="629.6" y2="638.4"/>
    	<line class="st4" x1="394.2" y1="526.3" x2="629.6" y2="638.4"/>
    </g>
    <text transform="matrix(1 0 0 1 275.7275 84.8232)" class="st6 st7">  Atyrau</text>
    <text transform="matrix(1 0 0 1 289.6275 122.1233)" class="st6 st7">CMS1</text>
    <text transform="matrix(1 0 0 1 659.7275 302.8232)" class="st6 st7">  Atyrau</text>
    <text transform="matrix(1 0 0 1 673.6275 340.1233)" class="st6 st7">CMS2</text>
    <text transform="matrix(1 0 0 1 275.7275 482.8232)" class="st6 st7">  Atyrau</text>
    <text transform="matrix(1 0 0 1 289.6275 520.1233)" class="st6 st7">CMS3</text>
    <text transform="matrix(1 0 0 1 659.7275 667.8232)" class="st6 st7">  Atyrau</text>
    <text transform="matrix(1 0 0 1 673.6275 705.1233)" class="st6 st7">CMS4</text>
    <circle class="st8" cx="223.2" cy="42.8" r="25.7"/>
    <circle class="st3" cx="435.3" cy="55.1" r="38.1"/>
    <text transform="matrix(1 0 0 1 215 55)" class="st9 st10">1</text>
    <g>
    	<g>
    		<circle class="st11" cx="435.3" cy="54.3" r="35.3"/>
    	</g>
    	<g>
    		<rect x="407.7" y="47.5" class="st12" width="3.1" height="6.3"/>
    	</g>
    	<g>
    		<rect x="462.7" y="49.7" class="st13" width="3.8" height="5.1"/>
    	</g>
    	<g>
    		<path class="st14" d="M463.9,59.8h6.2c0.3-1.8,0.4-3.6,0.4-5.5c0-0.6,0-1.1,0-1.7h-6.6V59.8z"/>
    	</g>
    	<g>
    		<path class="st15" d="M400,53.9c0,0.1,0,0.3,0,0.4c0,1.9,0.1,3.7,0.4,5.5h6.3v-5.9H400z"/>
    	</g>
    	<g>
    		<polyline class="st13" points="409.9,59.8 416.5,59.8 415.4,47.7 409.9,49.9 409.9,59.8 		"/>
    	</g>
    	<g>
    		<rect x="442.5" y="48.8" class="st16" width="6.4" height="11"/>
    	</g>
    	<g>
    		<rect x="415.4" y="43.3" class="st17" width="4.4" height="16.5"/>
    	</g>
    	<g>
    		<rect x="439.7" y="45.5" class="st17" width="4.4" height="14.3"/>
    	</g>
    	<g>
    		<rect x="429.7" y="42.7" class="st14" width="4.4" height="17.1"/>
    	</g>
    	<g>
    		<rect x="450.5" y="49.9" class="st13" width="6.4" height="9.9"/>
    	</g>
    	<g>
    		<rect x="457.5" y="51.6" class="st15" width="6.4" height="8.3"/>
    	</g>
    	<g>
    		<path class="st18" d="M400.4,59.8c2.6,16.9,17.2,29.7,34.8,29.7s32.2-12.9,34.8-29.7H400.4z"/>
    	</g>
    	<g>
    		<path class="st19" d="M465.1,73c2.5-3.9,4.2-8.4,5-13.2h-69.6c0.8,4.8,2.5,9.3,5,13.2H465.1z"/>
    	</g>
    	<g>
    		<path class="st20" d="M402.2,66.4h66.2c0.8-2.1,1.4-4.3,1.7-6.6h-69.6C400.8,62.1,401.4,64.3,402.2,66.4z"/>
    	</g>
    	<g>
    		<path class="st21" d="M400.9,62h68.8c0.2-0.7,0.3-1.5,0.4-2.2h-69.6C400.5,60.6,400.7,61.3,400.9,62z"/>
    	</g>
    	<g>
    		<path class="st22" d="M451.5,85.6c-6.1-9.7-16.3-25.8-16.3-25.8L419,85.6c4.9,2.5,10.4,4,16.3,4S446.6,88.1,451.5,85.6z"/>
    	</g>
    	<g>
    		<path class="st23" d="M439.4,66.4c-2.4-3.9-4.2-6.6-4.2-6.6l-4.2,6.6H439.4z"/>
    	</g>
    	<g>
    		<polyline class="st24" points="439.7,59.8 439.7,39.4 434.2,36.1 434.2,59.8 		"/>
    	</g>
    	<g>
    		<polygon class="st12" points="424.2,32.3 424.2,59.8 429.7,59.8 429.7,35.2 429.7,28.4 		"/>
    	</g>
    	<g>
    		<rect x="447.4" y="37" class="st12" width="4.4" height="22.9"/>
    	</g>
    	<g>
    		<polyline class="st25" points="419.8,59.8 419.8,54.3 413.2,54.3 413.2,59.8 		"/>
    	</g>
    	<g>
    		<polyline class="st14" points="426.2,59.8 426.2,46.6 419.8,46.6 419.8,59.8 		"/>
    	</g>
    	<g>
    		<polyline class="st26" points="444.1,59.8 444.1,55.4 437.5,56.5 437.5,59.8 		"/>
    	</g>
    	<g>
    		<rect x="455.1" y="48.8" class="st24" width="4.4" height="11"/>
    	</g>
    	<g>
    		<path class="st12" d="M435.3,59.8l14.6,26.6c0.6-0.3,1.1-0.5,1.7-0.8L435.3,59.8z"/>
    	</g>
    	<g>
    		<path class="st12" d="M435.3,59.8L419,85.6c0.6,0.3,1.1,0.6,1.7,0.8L435.3,59.8z"/>
    	</g>
    	<g>
    		<path class="st27" d="M438.3,89.4l-3.1-29.6l1,29.7C437,89.5,437.6,89.5,438.3,89.4z"/>
    	</g>
    	<g>
    		<path class="st27" d="M435.3,59.8l-3.1,29.6c0.7,0.1,1.3,0.1,2,0.1L435.3,59.8z"/>
    	</g>
    	<g>
    		<rect x="405.5" y="52.1" class="st14" width="4.4" height="7.7"/>
    	</g>
    	<g>
    		<rect x="445.4" y="56.8" class="st25" width="7.4" height="3"/>
    	</g>
    	<g>
    		<rect x="429.7" y="49.2" class="st15" width="2.5" height="10.7"/>
    	</g>
    	<g>
    		<rect x="416.5" y="57.6" class="st28" width="6.3" height="2.2"/>
    	</g>
    	<g>
    		<rect x="411.3" y="57.6" class="st17" width="2.9" height="2.2"/>
    	</g>
    	<g>
    		<rect x="431" y="57.6" class="st17" width="2.4" height="2.2"/>
    	</g>
    	<g>
    		<rect x="451.8" y="57.6" class="st17" width="3.9" height="2.2"/>
    	</g>
    	<g>
    		<rect x="439.4" y="58.2" class="st28" width="3.1" height="1.6"/>
    	</g>
    	<g>
    		<rect x="454.2" y="56.2" class="st28" width="3.1" height="3.6"/>
    	</g>
    	<g>
    		<rect x="462.3" y="57.1" class="st28" width="6.5" height="2.7"/>
    	</g>
    	<g>
    		<rect x="404" y="56.2" class="st28" width="3.1" height="3.6"/>
    	</g>
    	<g>
    		<rect x="424.8" y="56.2" class="st13" width="2.3" height="3.6"/>
    	</g>
    	<g>
    		<rect x="447.8" y="58.2" class="st13" width="2.3" height="1.6"/>
    	</g>
    	<g>
    		<rect x="403.2" y="58.2" class="st13" width="2.3" height="1.6"/>
    	</g>
    	<g>
    		<rect x="413.5" y="58.7" class="st13" width="4.5" height="1.1"/>
    	</g>
    </g>
    <circle class="st8" cx="704.2" cy="200.1" r="25.7"/>
    <text transform="matrix(1 0 0 1 695.05 215.3501)" class="st9 st10">2</text>
    <circle class="st3" cx="704.2" cy="429.3" r="38.1"/>
    <g>
    	<g>
    		<circle class="st11" cx="704.2" cy="428.5" r="35.3"/>
    	</g>
    	<g>
    		<rect x="676.6" y="421.7" class="st12" width="3.1" height="6.3"/>
    	</g>
    	<g>
    		<rect x="731.6" y="423.9" class="st13" width="3.8" height="5.1"/>
    	</g>
    	<g>
    		<path class="st14" d="M732.8,434h6.2c0.3-1.8,0.4-3.6,0.4-5.5c0-0.6,0-1.1,0-1.7h-6.6L732.8,434L732.8,434z"/>
    	</g>
    	<g>
    		<path class="st15" d="M668.9,428.1c0,0.1,0,0.3,0,0.4c0,1.9,0.1,3.7,0.4,5.5h6.3v-5.9H668.9z"/>
    	</g>
    	<g>
    		<polyline class="st13" points="678.8,434 685.5,434 684.4,421.9 678.8,424.1 678.8,434 		"/>
    	</g>
    	<g>
    		<rect x="711.4" y="423" class="st16" width="6.4" height="11"/>
    	</g>
    	<g>
    		<rect x="684.4" y="417.5" class="st17" width="4.4" height="16.5"/>
    	</g>
    	<g>
    		<rect x="708.6" y="419.7" class="st17" width="4.4" height="14.3"/>
    	</g>
    	<g>
    		<rect x="698.7" y="416.9" class="st14" width="4.4" height="17.1"/>
    	</g>
    	<g>
    		<rect x="719.5" y="424.1" class="st13" width="6.4" height="9.9"/>
    	</g>
    	<g>
    		<rect x="726.4" y="425.8" class="st15" width="6.4" height="8.3"/>
    	</g>
    	<g>
    		<path class="st18" d="M669.4,434c2.6,16.9,17.2,29.7,34.8,29.7s32.2-12.9,34.8-29.7H669.4z"/>
    	</g>
    	<g>
    		<path class="st19" d="M734.1,447.2c2.5-3.9,4.2-8.4,5-13.2h-69.6c0.8,4.8,2.5,9.3,5,13.2H734.1z"/>
    	</g>
    	<g>
    		<path class="st20" d="M671.1,440.6h66.2c0.8-2.1,1.4-4.3,1.7-6.6h-69.6C669.7,436.3,670.3,438.5,671.1,440.6z"/>
    	</g>
    	<g>
    		<path class="st21" d="M669.8,436.2h68.8c0.2-0.7,0.3-1.5,0.4-2.2h-69.6C669.5,434.8,669.6,435.5,669.8,436.2z"/>
    	</g>
    	<g>
    		<path class="st22" d="M720.4,459.8c-6.1-9.7-16.3-25.8-16.3-25.8l-16.3,25.8c4.9,2.5,10.4,4,16.3,4S715.6,462.3,720.4,459.8z"/>
    	</g>
    	<g>
    		<path class="st23" d="M708.4,440.6c-2.4-3.9-4.2-6.6-4.2-6.6l-4.2,6.6H708.4z"/>
    	</g>
    	<g>
    		<polyline class="st24" points="708.6,434 708.6,413.6 703.1,410.3 703.1,434 		"/>
    	</g>
    	<g>
    		<polygon class="st12" points="693.2,406.5 693.2,434 698.7,434 698.7,409.4 698.7,402.6 		"/>
    	</g>
    	<g>
    		<rect x="716.3" y="411.2" class="st12" width="4.4" height="22.9"/>
    	</g>
    	<g>
    		<polyline class="st25" points="688.8,434 688.8,428.5 682.2,428.5 682.2,434 		"/>
    	</g>
    	<g>
    		<polyline class="st14" points="695.1,434 695.1,420.8 688.8,420.8 688.8,434 		"/>
    	</g>
    	<g>
    		<polyline class="st26" points="713,434 713,429.6 706.4,430.7 706.4,434 		"/>
    	</g>
    	<g>
    		<rect x="724" y="423" class="st24" width="4.4" height="11"/>
    	</g>
    	<g>
    		<path class="st12" d="M704.2,434l14.6,26.6c0.6-0.3,1.1-0.5,1.7-0.8L704.2,434z"/>
    	</g>
    	<g>
    		<path class="st12" d="M704.2,434l-16.3,25.8c0.6,0.3,1.1,0.6,1.7,0.8L704.2,434z"/>
    	</g>
    	<g>
    		<path class="st27" d="M707.2,463.6l-3.1-29.6l1,29.7C705.9,463.7,706.6,463.7,707.2,463.6z"/>
    	</g>
    	<g>
    		<path class="st27" d="M704.2,434l-3.1,29.6c0.7,0.1,1.3,0.1,2,0.1L704.2,434z"/>
    	</g>
    	<g>
    		<rect x="674.4" y="426.3" class="st14" width="4.4" height="7.7"/>
    	</g>
    	<g>
    		<rect x="714.3" y="431" class="st25" width="7.4" height="3"/>
    	</g>
    	<g>
    		<rect x="698.7" y="423.4" class="st15" width="2.5" height="10.7"/>
    	</g>
    	<g>
    		<rect x="685.5" y="431.8" class="st28" width="6.3" height="2.2"/>
    	</g>
    	<g>
    		<rect x="680.3" y="431.8" class="st17" width="2.9" height="2.2"/>
    	</g>
    	<g>
    		<rect x="699.9" y="431.8" class="st17" width="2.4" height="2.2"/>
    	</g>
    	<g>
    		<rect x="720.7" y="431.8" class="st17" width="3.9" height="2.2"/>
    	</g>
    	<g>
    		<rect x="708.4" y="432.4" class="st28" width="3.1" height="1.6"/>
    	</g>
    	<g>
    		<rect x="723.1" y="430.4" class="st28" width="3.1" height="3.6"/>
    	</g>
    	<g>
    		<rect x="731.3" y="431.3" class="st28" width="6.5" height="2.7"/>
    	</g>
    	<g>
    		<rect x="672.9" y="430.4" class="st28" width="3.1" height="3.6"/>
    	</g>
    	<g>
    		<rect x="693.7" y="430.4" class="st13" width="2.3" height="3.6"/>
    	</g>
    	<g>
    		<rect x="716.7" y="432.4" class="st13" width="2.3" height="1.6"/>
    	</g>
    	<g>
    		<rect x="672.1" y="432.4" class="st13" width="2.3" height="1.6"/>
    	</g>
    	<g>
    		<rect x="682.5" y="432.9" class="st13" width="4.5" height="1.1"/>
    	</g>
    </g>
    <ellipse transform="matrix(0.1602 -0.9871 0.9871 0.1602 -373.2025 731.3531)" class="st29" cx="243.2" cy="585" rx="37" ry="37"/>
    <path class="st30" d="M282.9,588.8l-17.3-17.3L254.8,583l-15.4-15.4l-5.8,19.6h4.5l6.7,6.5l4.5,4.5l-27.8,11.5l13.5,13.5
    	c3.5,1.1,7.1,1.6,10.9,1.6C265.9,624.7,282.3,608.7,282.9,588.8z"/>
    <path class="st31" d="M266.4,608.3H244v-34.9c0-1.4,1.1-2.4,2.4-2.4H264c1.4,0,2.4,1.1,2.4,2.4V608.3L266.4,608.3z"/>
    <path class="st32" d="M266.4,573.3c0-1.4-1.1-2.4-2.4-2.4h-9v37.4h11.4V573.3z"/>
    <g>
    	<rect x="247" y="575.4" class="st33" width="16.5" height="4.1"/>
    	<rect x="247" y="580.8" class="st33" width="16.5" height="4.1"/>
    	<rect x="247" y="591.8" class="st33" width="16.5" height="4.1"/>
    	<rect x="247" y="586.3" class="st33" width="16.5" height="4.1"/>
    </g>
    <rect x="255" y="575.4" class="st29" width="8.4" height="4.1"/>
    <rect x="247" y="580.8" class="st33" width="8" height="4.1"/>
    <g>
    	<rect x="255" y="580.8" class="st29" width="8.4" height="4.1"/>
    	<rect x="255" y="591.8" class="st29" width="8.4" height="4.1"/>
    </g>
    <g>
    	<rect x="247" y="591.8" class="st33" width="8" height="4.1"/>
    	<rect x="247" y="586.3" class="st33" width="8" height="4.1"/>
    </g>
    <rect x="255" y="586.3" class="st29" width="8.4" height="4.1"/>
    <path class="st31" d="M240.2,608.3h-15v-39c0-1.2,0.9-2.1,2.1-2.1h10.8c1.2,0,2.1,0.9,2.1,2.1L240.2,608.3L240.2,608.3z"/>
    <path class="st32" d="M240.2,569.2c0-1.2-0.9-2.1-2.1-2.1h-5.5v41.1h7.6V569.2L240.2,569.2z"/>
    <path class="st34" d="M255.3,608.3h-16v-27.5c0-1,0.8-1.8,1.8-1.8h12.3c1,0,1.8,0.8,1.8,1.8L255.3,608.3L255.3,608.3z"/>
    <path class="st35" d="M255.3,580.8c0-1-0.8-1.8-1.8-1.8H247v29.3h8.3V580.8L255.3,580.8z"/>
    <rect x="241.6" y="581.4" class="st36" width="4.1" height="4.1"/>
    <rect x="248.9" y="581.4" class="st37" width="4.1" height="4.1"/>
    <rect x="241.6" y="587.5" class="st36" width="4.1" height="4.1"/>
    <rect x="248.9" y="587.5" class="st37" width="4.1" height="4.1"/>
    <rect x="241.6" y="593.6" class="st36" width="4.1" height="4.1"/>
    <rect x="248.9" y="593.6" class="st37" width="4.1" height="4.1"/>
    <rect x="227" y="569.9" class="st38" width="4.5" height="3.1"/>
    <rect x="233.9" y="569.9" class="st34" width="4.5" height="3.1"/>
    <rect x="227" y="574.5" class="st38" width="4.5" height="3.1"/>
    <rect x="233.9" y="574.5" class="st34" width="4.5" height="3.1"/>
    <rect x="227" y="579" class="st38" width="4.5" height="3.1"/>
    <rect x="233.9" y="579" class="st34" width="4.5" height="3.1"/>
    <rect x="227" y="583.6" class="st38" width="4.5" height="3.1"/>
    <rect x="233.9" y="583.6" class="st34" width="4.5" height="3.1"/>
    <rect x="227" y="588.1" class="st38" width="4.5" height="3.1"/>
    <rect x="233.9" y="588.1" class="st34" width="4.5" height="3.1"/>
    <rect x="227" y="592.7" class="st38" width="4.5" height="3.1"/>
    <rect x="233.9" y="592.7" class="st34" width="4.5" height="3.1"/>
    <rect x="243.2" y="600" class="st37" width="8.2" height="8.2"/>
    <rect x="247" y="600" class="st39" width="4.4" height="8.2"/>
    <rect x="229.5" y="600" class="st34" width="6.5" height="8.2"/>
    <rect x="232.7" y="600" class="st35" width="3.3" height="8.2"/>
    <path class="st36" d="M268.5,610.7h-45.3c-1.1,0-2.1-0.9-2.1-2.1l0,0c0-1.1,0.9-2.1,2.1-2.1h45.3c1.1,0,2.1,0.9,2.1,2.1l0,0
    	C270.5,609.8,269.6,610.7,268.5,610.7z"/>
    <path class="st37" d="M268.5,606.6h-22.6v4.1h22.6c1.1,0,2.1-0.9,2.1-2.1S269.6,606.6,268.5,606.6z"/>
    <circle class="st3" cx="244.8" cy="586.3" r="38.1"/>
    <circle class="st8" cx="243.3" cy="412.7" r="25.7"/>
    <text transform="matrix(1 0 0 1 234.1007 427.9)" class="st9 st10">3</text>
    </svg>

            </md-card>







        </md-content>
    </div>





</div>