<div class="row" ng-controller="dynamicPageCtrl">
    <div class="col-md-12">
        <md-content id="mainpage" layout="column" flex class="custom__md-content__categ">

            <md-card id="title">

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-center" style="text-transform: uppercase">Финансирование дефицита (использование профицита) бюджета, ТЫС. ТЕНГЕ</h3>

                    </div>

                </div>

            </md-card>









        </md-content>
    </div>





</div>