<md-dialog aria-label="Справка">







    <md-toolbar class="md-toolbar-tools">

        <h2>Справка</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons">close</i>
        </md-button>

    </md-toolbar>


    <md-dialog-content>
        <div class="md-dialog-content">




            <div class="col-md-12">

                <div class="row">

                    <ol class="custom__help">
                        <li>Запрещается смешивать цифровые и текстовые данные;</li>
                        <li>В наименование файла запрещается писать тире и пробел, их можно заменить на нижние подчеркивание;</li>
                        <li>В самих ячейках не желательно оставлять пустоты;</li>
                        <li>При написании цифр, не желательно писать разрядные пробелы, их необходимо удалять.</li>
                    </ol>


                    <div class="upload-btn-wrapper downloadButtton">

                        <md-icon class="material-icons downloadIcon">file_download</md-icon>
                        <a href="doc/Пример.xls"
                           style="text-decoration: none; color: white">Скачать пример
                        </a>

                    </div>

                </div>




            </div>






        </div>
    </md-dialog-content>








</md-dialog>