<md-dialog class="fullscreen-dialog" aria-label="Создать мероприятие">







    <md-toolbar class="md-toolbar-tools">

        <h2>Редактировать таблицу: <strong>{{tableName}}</strong></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
            <i class="material-icons">close</i>
        </md-button>

    </md-toolbar>


    <md-dialog-content>
        <div class="md-dialog-content">




            <div class="col-md-12">

                <div class="row">

                    <div id="hot"></div>


                </div>












            </div>






        </div>
    </md-dialog-content>








</md-dialog>