<div class="row" ng-controller="protoCtrl" ng-cloak>
    <div class="col-md-12">
        <md-content id="mainpage" layout="column" flex class="custom__md-content__categ">


            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>


                    <md-tab label="Создать страницу">
                        <md-content class="md-padding">


                            <div class="row">
                                <div class="col-md-12 chartBlock ">


                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Заголовок диаграммы</label>
                                        <input ng-model="title">
                                    </md-input-container>


                                </div>
                            </div>


                            <hr>


                            <div class="row ">


                                <div class="col-md-4 chartBlock">

                                    <md-select ng-model="tabels" placeholder="Выбрать таблицу из базы данных"
                                               class="md-no-underline textTitle" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" md-on-open="changeTable()">


                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Поиск таблицы..."
                                                   class="demo-header-searchbox md-text"
                                                   ng-keydown="$event.stopPropagation($event)">
                                        </md-select-header>
                                        <md-option ng-repeat="table in alltabels | filter:searchTerm" ng-value="table.nameTable">
                                            {{table.aliasTable}}
                                        </md-option>
                                    </md-select>


                                </div>


                                <div class="col-md-4 chartBlock">

                                    <md-select ng-model="pages" placeholder="Выбрать пункт меню"
                                               class="md-no-underline textTitle">
                                        <md-option ng-repeat="page in allpages" ng-value="page._id">
                                            {{page.title}}
                                        </md-option>
                                    </md-select>


                                </div>



                                <div class="col-md-4 chartBlock">

                                    <md-select class="textTitle" placeholder="Выберите вкладку" ng-model="tabSelect"
                                               md-on-close="clearSearchTermTab()"
                                               data-md-container-class="selectdemoSelectHeader"
                                    >
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="newTabName"
                                                   ng-keyup='createNewTab($event)'
                                                   ng-keydown="$event.stopPropagation($event)"
                                                   type="text"
                                                   placeholder="Напечатайте здесь и нажмите Enter"
                                                   class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup>
                                            <md-option ng-value="tab._id" ng-repeat="tab in allTabs">{{tab.tabName}}</md-option>
                                        </md-optgroup>
                                    </md-select>


                                </div>


                            </div>


                            <hr>


                            <div class="row">


                                <div class="col-md-12 chartBlock">
                                    <md-switch aria-label="Switch 1" ng-model="isShowChips">
                                        Добавить переключатель изменений данных
                                    </md-switch>
                                    <md-switch aria-label="Switch 1" ng-model="isShowTextArea">
                                        Добавить описание диаграммы
                                    </md-switch>
                                    <md-switch aria-label="Switch 1" ng-model="isShowUpload">
                                        Добавить загрузку файла
                                    </md-switch>
                                    <md-switch aria-label="Switch 1" ng-model="isShowType">
                                        Добавить тип диаграммы
                                    </md-switch>


                                    <md-switch aria-label="Switch 1" ng-model="isShowPowerBI">
                                        Добавить диаграмму из Microsoft PowerBI
                                    </md-switch>

                                </div>

                            </div>

                            <hr ng-show="isShowChips">

                            <div class="row" ng-show="isShowChips">
                                <div class="col-md-12 chartBlock">
                                    <md-chips ng-model="parameters" placeholder="Введите переключатели">

                                    </md-chips>
                                </div>
                            </div>

                            <hr ng-show="isShowTextArea">

                            <div class="row" ng-show="isShowTextArea">
                                <div class="col-md-12 chartBlock">

                                    <md-input-container class="md-block">
                                        <label>Введите описание диаграммы</label>
                                        <textarea ng-model="description" md-maxlength="500" rows="5"
                                                  md-select-on-focus></textarea>
                                    </md-input-container>


                                </div>

                            </div>

                            <hr ng-show="isShowUpload">
                            <div class="row" ng-show="isShowUpload">
                                <div class="col-md-12 chartBlock">

                                    <div class="upload-btn-wrapper">
                                        <button class="btn">Загрузить файл</button>
                                        <input ng-files="getTheFiles($files)" id="file" type="file" class="form-control"
                                               accept="*/*" multiple/>
                                        <label for="file" id="labelForFile"></label>
                                    </div>


                                </div>

                            </div>





                            <hr ng-show="isShowType">
                            <div class="row" ng-show="isShowType">
                                <div class="col-md-12 chartBlock">


                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label class="textTitle">Тип диаграммы</label>
                                            <input ng-model="typediagramm">
                                        </md-input-container>


                                </div>

                            </div>


                            <hr ng-show="isShowPowerBI">
                            <div class="row" ng-show="isShowPowerBI">
                                <div class="col-md-12 chartBlock">


                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Вставить iframe</label>
                                        <input ng-model="iframepowerbi">
                                    </md-input-container>


                                </div>

                            </div>





                            <hr>


                            <div class="row">
                                <div class="col-md-12 chartBlock">

                                    <h5 class="title">Выбрать диаграмму</h5>


                                    <div class="row">
                                        <md-radio-group ng-model="chartModel">
                                            <div class="col-md-4" ng-repeat="chart in allCharts">


                                                <h6 class="title">{{chart.title}}</h6>
                                                <md-radio-button ng-value="chart._id" class="md-primary"
                                                                 aria-label="{{chart.title}}">
                                                    <img ng-src="{{chart.imgUrl}}" alt="" class="chartImg"
                                                         style="cursor: pointer">
                                                </md-radio-button>
                                                <br/>


                                            </div>


                                        </md-radio-group>


                                    </div>


                                </div>
                            </div>




                            <hr style="background: red">


                            <div class="row">


                                <div class="col-md-6">

                                    <md-select ng-model="postsSelect" placeholder="Выбрать пост"
                                               class="md-no-underline textTitle" md-on-close="clearSearchTermPost()" data-md-container-class="selectdemoSelectHeader" md-on-open="changeTablePost()">


                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTermPost"
                                                   type="search"
                                                   placeholder="Поиск поста..."
                                                   class="demo-header-searchbox md-text"
                                                   ng-keydown="$event.stopPropagation($event)">
                                        </md-select-header>
                                        <md-option ng-repeat="post in getAllpost | filter:searchTermPost" ng-value="post._id">
                                            {{post.titleCharts}}
                                        </md-option>
                                    </md-select>


                                </div>

                                <div class="col-md-6">

                                    <md-button class="md-raised md-primary" ng-click="deletePost()">Удалить пост
                                    </md-button>

                                </div>





                            </div>



                            <hr>
                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-button class="md-raised md-primary" ng-click="uploadFiles()">Сохранить
                                    </md-button>

                                </div>
                            </div>


                        </md-content>
                    </md-tab>

                   <!-- <md-tab label="Создать Гос. программу">
                        <md-content class="md-padding">


                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Паспорт программы</label>
                                        <input ng-model="programPasport">
                                    </md-input-container>

                                </div>

                            </div>




                            <hr>
                            <div class="row">
                                <div class="col-md-12 chartBlock">

                                    <md-input-container class="md-block">
                                        <label>Описание программы</label>
                                        <textarea ng-model="programmDescription" md-maxlength="500" rows="5"
                                                  md-select-on-focus></textarea>
                                    </md-input-container>


                                </div>

                            </div>


                            <hr>

                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Разработчик программы</label>
                                        <input ng-model="programmNameDev">
                                    </md-input-container>
                                </div>

                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Цель программы</label>
                                        <input ng-model="programmTarget">
                                    </md-input-container>
                                </div>

                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Целевые индикаторы</label>
                                        <input ng-model="programmTargetIndicator">
                                    </md-input-container>
                                </div>

                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">План мероприятий</label>
                                        <input ng-model="programmActionPlan">
                                    </md-input-container>
                                </div>

                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-12 chartBlock">

                                    <md-input-container class="md-block">
                                        <label>Описание мероприятий</label>
                                        <textarea ng-model="programmDescriptionAction" md-maxlength="500" rows="5"
                                                  md-select-on-focus></textarea>
                                    </md-input-container>


                                </div>

                            </div>


                            <hr>
                            <div class="row">
                                <div class="col-md-12 chartBlock">

                                    <md-input-container class="md-block">
                                        <label class="textTitle">Финансирование мероприятий</label>
                                        <input ng-model="programmFinansAction">
                                    </md-input-container>


                                </div>

                            </div>


                            <hr>
                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Целевые индикаторы мероприятий</label>
                                        <input ng-model="programmTargetDescrIndicator">
                                    </md-input-container>
                                </div>

                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Динамика целевых индикаторов за период программы</label>
                                        <input ng-model="programmDimicIndicator">
                                    </md-input-container>
                                </div>

                            </div>


                            <hr>

                            <div class="row">
                                <div class="col-md-12 chartBlock">
                                    <md-button class="md-raised md-primary" ng-click="saveGosProgramm()">Сохранить
                                    </md-button>

                                </div>
                            </div>





                        </md-content>
                    </md-tab>-->



                    <md-tab label="Загрузить Excel файл">
                        <md-content class="md-padding">


                            <div class="row">
                                <div class="col-md-12">



                                    <div class="upload-btn-wrapper">

                                        <md-button class="md-fab md-primary md-mini" aria-label="Profile" ng-click="showHelp($event)">
                                            <md-icon class="material-icons">help_outline</md-icon>
                                        </md-button>


                                        <button class="btn">Загрузить новую таблицу</button>
                                        <input ng-files="getTheFilesCVS($files)" id="cvsfile" type="file" class="form-control"
                                               accept="application/vnd.ms-excel" multiple/>
                                        <label for="file" id="filenamecvs"></label>
                                    </div>








                                </div>

                            </div>








                            <div class="row" style="margin-top: 50px">
                                <div class="col-md-12">



                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label class="textTitle">Поиск...</label>
                                        <input ng-model="search">
                                    </md-input-container>


                                    <style type="text/css">
                                        .tg  {border-collapse:collapse;border-spacing:0; width: 100%; margin-top: 20px}
                                        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                        .tg .tg-0ord{text-align:center}
                                        .tg .tg-lqy6{text-align:left; word-break: break-all }
                                        .tg .tg-lqy8{text-align:center; width: 300px}
                                        .tg .tg-hgcj{font-weight:bold;text-align:center}
                                        .tg .tg-yw4l{vertical-align:top}
                                    </style>
                                    <table class="tg table-striped">



                                        <thead>


                                        <tr>


                                            <th class="tg-hgcj">Наименование таблицы</th>



                                            <th class="tg-hgcj">Редактировать</th>
                                            <th class="tg-hgcj">Удалить</th>

                                        </tr>
                                        </thead>


                                        <tr ng-repeat="tableNameOne in dataTableName | filter:search">
                                            <td class="tg-lqy6">



                                                {{tableNameOne}}


                                            </td>





                                            <td class="tg-0ord">

                                                <i class="material-icons" ng-click="editTable(tableNameOne)">done_all</i>

                                            </td>



                                            <td class="tg-0ord">
                                                <i class="material-icons" ng-click="deleteTable(tableNameOne, $index)">delete_forever</i>

                                            </td>
                                        </tr>

                                    </table>




                                </div>

                            </div>




                        </md-content>
                    </md-tab>




                    <md-tab label="Управление пользователями">
                        <md-content class="md-padding">





                            <div class="row">
                                <div class="col-md-12">
                                    <md-button class="md-raised md-primary" ng-click="addUsers()">Создать пользователя
                                    </md-button>

                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-12">

                                    <style type="text/css">
                                        .tg  {border-collapse:collapse;border-spacing:0; width: 100%; margin-top: 20px}
                                        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                                        .tg .tg-0ord{text-align:center}
                                        .tg .tg-lqy6{text-align:left; width: 600px;}
                                        .tg .tg-lqy8{text-align:center; width: 300px}
                                        .tg .tg-hgcj{font-weight:bold;text-align:center}
                                        .tg .tg-yw4l{vertical-align:top}
                                    </style>
                                    <table class="tg table-striped">



                                        <thead>


                                        <tr>


                                            <th>Имя пользователя</th>

                                            <th>Роль</th>
                                            <th>Пароль</th>

                                            <th>Редактировать</th>
                                            <th>Удалить</th>

                                        </tr>
                                        </thead>


                                        <tr ng-repeat="x in data">
                                            <td class="tg-lqy6">




                                                <input type="text" value="{{x.name}}" ng-model="x.name">




                                            </td>
                                            <td class="tg-lqy8">



                                                <md-select ng-model="x.roleId" placeholder="Выбрать роль"
                                                           class="md-no-underline textTitle">
                                                    <md-option ng-repeat="role in x.allRoles" ng-value="role._id">
                                                        {{role.namerole}}
                                                    </md-option>
                                                </md-select>






                                            </td>



                                            <td class="tg-lqy8">



                                                <input type="text" value="{{x.newPass}}" ng-model="x.newPass">






                                            </td>

                                            <td class="tg-0ord">

                                                <i class="material-icons" ng-click="updateUser(x)">done_all</i>

                                            </td>



                                            <td class="tg-0ord">
                                                <i class="material-icons" ng-click="deleteUser(x._id, $index)">delete_forever</i>

                                            </td>
                                        </tr>

                                    </table>




                                </div>

                            </div>





                        </md-content>
                    </md-tab>







                </md-tabs>
            </md-card>







        </md-content>
    </div>





</div>