<div class="row" ng-controller="HomePageCtrl">
    <div class="col-md-12">
        <md-content id="mainpage" layout="column" flex class="custom__md-content__categ">


            <div class="row">
                <div class="col-md-6">

                    <md-card id="card1" class="masonry__custom1" ui-sref="socvrpctrl" style="cursor: pointer">





                        <img src="assets/img/mainIcon/monitor.svg" alt="Washed Out">


                        <md-card-title>
                                    <md-card-title-text>
                                        <span class="custom__title__card text-center">Социально-экономическое развитие</span>
                                        <span class="text-center" style="margin-top: 10px">Мониторинг показателей социально-экономического развития области</span>
                                    </md-card-title-text>
                                </md-card-title>











                    </md-card>

                </div>


                <div class="col-md-3">

                    <md-card id="card2" class="masonry__custom2">


                        <img src="assets/img/mainIcon/budget.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="custom__title__card text-center">Бюджетное планирование</span>

                            </md-card-title-text>
                        </md-card-title>

                    </md-card>


                    <md-card id="card3" class="masonry__custom4">


                        <img src="assets/img/mainIcon/university-with-a-flag.svg" alt="Washed Out">
                        <md-card-title style="margin-top: -10px">
                            <md-card-title-text>
                                <span class="custom__title__card text-center">Цифровые социальные объекты</span>

                            </md-card-title-text>
                        </md-card-title>

                    </md-card>



                </div>


                <div class="col-md-3">
                    <md-card id="card4" class="masonry__custom5">



                        <img src="assets/img/mainIcon/brainstorm.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="custom__title__card text-center">Стратегическое планирование</span>
                                <span class="text-center" style="margin-top: 20px">Портфельный анализ деятельности государственного управления</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>




            </div>

            <div class="row" style="margin-top: -125px">

                <div class="col-md-3">
                    <md-card id="card5" class="masonry__custom6">

                        <img src="assets/img/mainIcon/file.svg" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="custom__title__card text-center">Мониторинг государственных программ</span>
                                <span class="text-center" style="margin-top: 10px; text-transform: uppercase">Мониторинг достижения показателей и исполнения мероприятий государственных программ</span>
                            </md-card-title-text>
                        </md-card-title>

                    </md-card>

                </div>

                <div class="col-md-3">
                    <md-card id="card6" class="masonry__custom7" ui-sref="budget" style="cursor: pointer">
                        <img src="assets/img/mainIcon/kazakhstani-tenge.svg" alt="Washed Out">




                        <md-card-title>
                            <md-card-title-text>
                                <span class="custom__title__card text-center">Бюджет области</span>

                            </md-card-title-text>
                        </md-card-title>
                    </md-card>

                </div>

            </div>













        </md-content>
    </div>





</div>